BASE_URI=http://localhost
PORT=3000
MONGODB__PRODUCTION_URI=mongodb+srv://admin:admin@3dprinting.kbfcl6m.mongodb.net/3dsite?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://admin:admin@3dprinting.kbfcl6m.mongodb.net/3dsitedev?retryWrites=true&w=majority
